.chatBotContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  vertical-align: middle;
  background-color: #FFF4C4;
  border: solid black;
}
.chatBot {
  background-color: white;
  border: solid black;
  border-radius: 30px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 500px;
  width: 50%;
  margin: auto;
}

.messageTextBox {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 50px;
  margin: 4px;
  font-size: 16px;
  width: 85%;
}

.messageTextBox input {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.messageSendBttn {
  height: 30px;
  position: absolute;
  right: 15%; /* Adjust the right position as needed */
  top: 92%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 1;
}

.messageSendBttn {
  cursor: pointer;
  opacity: 1;
  margin-left: 10px; /* Add margin between input and image */
}
