.progressContainer {
  position: relative;
  height: 15px;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.progressBar {
  position: relative;
  border-radius: 50px;
  height: 100%;
  background-color: #FFCE00;
  transition: width 300ms ease;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.nextButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}
